html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;

}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #6c6f73;
}

h1, h2, h3, h4, h5 {
	color: #333;
}

h6 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
}

img {
	max-width: 100%;
}

.blockquote {
	font-size: 1.6rem;
	color: #333;
	border: none;
	padding: 0;
}

.blockquote-footer {
	margin: 1rem 0 0;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

#stage {
	background: #45adc8 center center no-repeat ;
	background-size: cover;
	/*color: #45adc8;*/
	color: #f2d73d;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

#stage-caption {
	font-size: 1.4rem;
	font-weight: 200;
	max-width: 60rem;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}

#stage-caption h1 {
	/*color: #45adc8;*/
	color: #f2d73d;
	font-weight: bold;
	text-transform: uppercase;
}

.feature-content {
	padding: 4rem 0;
	overflow: hidden;
}

.feature-content h1 {
	font-size: 3rem;
}

ul {
	padding: 1rem;
	list-style-type: none;
}

li {
	font-size: 1.5rem;
}

@media screen and (max-width: 630px) {
	
	#stage-caption h1 {
		font-size: 2rem;
	}

	#stage-caption {
		font-size: 90%;
	}

}

